/**************css start**************/

* {box-sizing: border-box;}
<!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
.attribution { font-size: 11px; text-align:center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body {background-color:hsl(220, 11%, 89%);
  max-width: 1440px;
  height: 80vh;
}


@font-face {
  font-family: 'Poppins';
  src: url(Fonts/Poppins-Light.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins' ;
  src: url(Fonts/Poppins-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(Fonts/Poppins-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}

h2 {
  font-family: Poppins;
  font-weight:600;
  text-align:center;
}

h3 { 
  font-family: Poppins;
  font-weight: 400;
  text-align: center;
}

p {
  font-family: Poppins;
  font-weight: 200;
  text-align: center;
  padding-bottom: 20px;

}
h4 {
  font-family: Poppins;
  font-weight: 600;
  padding-right: 230px;

}


.card { 
  background-color:  hsl(0, 0%, 98%);
  height: 270px;
} 

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas: ". team ."
  "sup . cal"
  ". Karma .";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 1250px;
  padding-left: 50px;
  padding-bottom: 30px;
  
}
#sup{
  grid-area: sup;
  

}
#team{
  
  grid-area: team;
  position: relative;
  top: 140px;
}
#cal{
  grid-area: cal;
 

}
#Karma{
  grid-area: Karma;
 position: relative;
 bottom: 140px;
}
.img{
  padding-left: 220px;
  padding-top: 20px;  
}
#head{
  position: relative;
  top: 80px;
}

@media only screen and (max-width:550px){
  .body{
    height: 100vh;
  }  

  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sup"
    "team"
    "Karma"
    "cal"; 
    grid-row-gap: 15px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 150px;
    
  }
  #Karma {
    position: relative;
    top: 150px;
  }
  #cal {
    position: relative;
    top: 160px;
  }
  #team {
    position: relative;
    bottom: 50px;

  }
  #sup {
    position: relative;
    top: 130px;
  }
  
}
